@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  display: flex;
  align-items: center;
}

.donut-label {
}

.bar {
  cursor: pointer;
}

.bar-footer {
  cursor: pointer;
}

.donut-heading {
  text-align: center;
  font-size: 25px;
  margin-bottom: 0;
}

.full-year {
  color: tomato;
  font-weight: 600;
}
